[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-imagekit = "*"
pillow = "*"
django-extensions = "*"
djangorestframework = "*"
social-auth-app-django = "*"
whitenoise = "*"
dj-database-url = "*"
gunicorn = "*"
django-cors-headers = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.8"
